# TimeSeries

In [ ]:
import numpy as np
import pandas as pd
from datetime import datetime

In [ ]:
data ={'date':['2018-01-01','2018-02-01',
'2018-03-01', '2018-04-01',
'2018-05-01', '2018-06-01',
'2018-01-01', '2018-02-01',
'2018-03-01', '2018-04-01',
'2018-05-01', '2018-06-01'],
'visitors': [35,30,82,26,
83, 46,40,57,95,57,87,42]}

In [ ]:
df =pd.DataFrame(data,
columns=['date', 'visitors'])

Convert Pandas columns into date objects.

In [ ]:
df['date'] =pd.to_datetime(df['date'])